[Unit]
Description=Changed from ly to lxdm
After=multi-user.target


[Service]
Type=forking
ExecStart=/usr/bin/ly-autostart


[Install]
WantedBy=multi-user.target
